<?xml version="1.0" encoding="UTF-8"?>
<config>
    <category>
        <label>{{ bundle }}</label>
        <title>{{ bundle }}</title>
        <bundle>{{ bundle | lower }}</bundle>
        <controller>index</controller>
        <action>index</action>
        <order>0</order>
        <shortcut>x</shortcut>
        <icon>fa-sitemap{# @todo use better icon #}</icon>
    </category>
</config>
